:root {
  --primary-color: #652be2;
  --background-color: #cbbee5;
  --text-color: #593c90;
  --light-color: #a77cff;
  --dark-color: #463469;
  --vanish-color: #281057b5;
  --white-color: #ffffff;
}
