@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

:root {
  --primary-color: #007bff; // Initial color value
}

$main: var(--primary-color);
$c1: --primary-color;
$white: #ffffff;
$c3: --primary-color;
$c4: --primary-color;
$c5: --primary-color;
$c6: --primary-color;
$c7: --primary-color;
$c8: $white;
$c9: lightgray;

$gray: gray;

::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

/* Customize the scrollbar track when the mouse is over it */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Customize the scrollbar track when it's on the edge of the container */
::-webkit-scrollbar-thumb:active {
    background: #333;
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}
.formContainer {
  background-color: $c3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: $white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: $c1;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: $c1;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid $c3;
        &::placeholder {
          color: $gray;
        }
      }

      button {
        background-color: $c4;
        color: $white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $c5;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: $c1;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
.colorInput {
  background-color: rgba(255, 0, 0, 0);
  outline: 0;
  border: none;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.home {
  background-color: $c3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    // border: 1px solid $white;
    // border-radius: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    // @include tablet {
    //       width: 100vw;
    // height: 100vh;
    // display: flex;
    // overflow: scroll;
    // flex-direction: column;
    // }
    background: $main;
    @include mobile {
      width: 100vw;
      height: 100vh;
      display: flex;
      overflow: scroll;
      flex-direction: column;
    }

    .sidebar {
      flex: 1;
      position: relative;
      background: linear-gradient(to bottom, #00000094, #00000094);

      .navbar {
        display: flex;
        align-items: center;
        height: 50px;
        background: linear-gradient(to bottom, #00000094, #00000094);
        padding: 10px;
        justify-content: space-between;
        color: $c8;

        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;
          align-items: center;

          img {
            background-color: $c8;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            color: $c8;
            background-color: $main;
            cursor: pointer;
            background-image: linear-gradient(#00000061, #00000061);
            font-size: 10px;
            border: none;
            cursor: pointer;
            padding: 7px;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
            @include mobile() {
              position: inherit;
              bottom: 10px;
            }
          }
        }
      }
      .search {
        border-bottom: 1px solid $gray;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: $white;
            outline: none;

            &::placeholder {
              color: $c9;
            }
          }
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $white;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          padding: 1rem;
          // border-bottom: 1px solid #ffffff1a;
          font-size: xx-large;
          color: #ffffff;
          background: linear-gradient(#0000005a, #0000005a);
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            color: $c9;
          }
        }
      }
    }
    .chat {
      display: flex;
      flex-direction: column;
      flex: 2;
      .colorInput {
        background: #ff000000;
        border: 0;
        padding: 0;
      }
      .chatInfo {
        height: 50px;
        display: flex;
        background: linear-gradient(#727272a6, #727272a6);
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: $c9;
      }

      .chatIcons {
        font-size: 20px;
        color: $white;
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        padding: 2rem;
        background: linear-gradient(#ffffffbd, #ffffffbd);
        height: calc(100% - 160px);
        overflow-y: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: $gray;
            font-weight: 300;

            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              object-fit: cover;
              @include tablet() {
                width: 40px;
                height: 40px;
              }
            }
          }
          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: flex-end;

            p {
              background-color: $white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
              border-radius: 1rem;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;
              p {
                color: $white;
                background-color: $main;
                cursor: pointer;
                background-image: linear-gradient(#7f7f7f44, #7f7f7f44);
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: $white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          border: none;
          outline: none;
          color: $c7;
          font-size: 18px;

          &::placeholder {
            color: $c9;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 20px;
          color: $gray;
          cursor: pointer;

          img {
            height: 24px;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: $white;
            background-color: $main;
            cursor: pointer;
            background-image: linear-gradient(#84848461, #84848461);
          }
        }
      }
    }
  }
}
